*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: 14px;
	line-height: 1.2;
}

body, html {
	margin: 0;
	width: 100%;
	height: 100%;
}

body {
	font-family: Roboto, arial;
	-webkit-font-smoothing: antialiased;
	background-color: #24103D;
}

p {
	margin: 0;
	margin-bottom: 10px;
}

::-webkit-scrollbar {
	width:  8px;
	height: 8px;
}

::-webkit-scrollbar-thumb {
	background-color: #BDBDBD;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #757575;
}

::-webkit-scrollbar-track {
	background-color: #fff;
}

::placeholder {
	color: #8c8c8c;
}

#app {
	width: inherit;
	height: inherit;
}

